@{
    ViewData["Title"] = "Forgot Password Confirmation";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}


<div class="account-container">
    <div class="account-box text-center">

        <div class=" mt-2 mb-2">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 451.277 451.277" xml:space="preserve" width="100px" height="100px" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <circle style="fill:#82d9a3;" cx="225.638" cy="225.638" r="225.638"></circle> <path style="opacity:0.1;enable-background:new ;" d="M450.975,237.605l-96.054-96.054H96.355v168.173l141.25,141.25 C352.705,444.96,444.96,352.704,450.975,237.605z"></path> <rect x="96.353" y="141.553" style="fill:#eac066;" width="258.56" height="168.172"></rect> <polygon style="fill:#ffd561;" points="225.638,210.645 354.921,309.725 96.355,309.725 "></polygon> <polygon style="fill:#854514;" points="225.638,249.791 96.355,141.552 354.921,141.552 "></polygon> <polygon style="fill:#ffd561;" points="225.638,240.631 96.355,141.552 354.921,141.552 "></polygon> </g></svg>
        </div>
        <p class="text-center text-black-50">
            Please check your email to reset your password.
        </p>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");
    }
}