@{
    ViewData["Title"] = "ResetPasswordConfirmation";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div class="account-container">
    <div class="account-box ">
        <h2 class="text-center mb-4">Reset password confirmation</h2>
        <div class="m-auto mt-2 mb-2 mb-4 rounded-circle bg-success" style="width: 100px; height: 100px;">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" viewBox="0 0 50 50" xml:space="preserve">
            <circle style="fill:#25AE88;" cx="25" cy="25" r="25" />
            <polyline style="fill:none;stroke:#FFFFFF;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" points="  38,15 22,33 12,25 " />
            </svg>
        </div>
        <p class="text-center text-black-50">
            Your password has been reset. if you didn't redirect to login form please<a id="Loginlink" asp-controller="Account" asp-action="Login"> Click here </a>.
        </p>
    </div>
</div>

@section Scripts {
    <script>

               function clickLink() {
            document.getElementById('Loginlink').click(); // الضغط على الرابط
               }

        // تنفيذ الضغط تلقائيًا بعد 3 ثوانٍ
        setTimeout(clickLink, 3000); 
    </script>
                   
    @{

        await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");
    }
}

